

.parent{
position: relative;
  padding:10px;
  width: 100%;
  height: 100%;
  background: var(--violet-50);
}
.titleContainer{
  display:flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  color:var(--violet-500);
}
.aboutContainer{
    display:flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  color:var(--violet-500);
}
.contentContainer{
  display: flex;
  justify-content: center;
  
  width: 100%;
}
.content{
  width: 100%;
}
.editorContainer{
  display:flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.jokeListContainer{
  margin-top: 20px;
  width: 100%;
}
.joke{
  border-radius: 20px;
  width: 90%;
  height: 200px;
  background: white;
  border:1px solid var(--violet-400);
  box-shadow:2px 2px 1px 2px var(--violet-400)
}
.userComponent{
  padding: 5px;
  display: flex;
  width: 100%;
  height: 50px;
}
.avatarContainer{
  width: 60px;
  height:50px;
}
.avatar{
 
  border-radius: 50%;
  width:50px;
  height:50px;
  background: var(--violet-500);
}
.usernameContainer{
  width: 100px;
  height: 50px;

}
.timestamp{
  width: 100px;
  height: 50px;
}
.deleteContainer{
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 260px);
  height: 50px;
}
.deleteButton{
  width: 30px;
  height: 30px;
  background: red;
}
.editor{
  width: 60%;
  height: 200px;

}
.textarea{
  border-radius: 20px;
  border:none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100px;
  background: white;
  padding:10px
}
.postButtonContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  height: 50px;
}
.postButton{
  width: 80px;
  height: 40px;
  background: var(--violet-400);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: white;

}
.jokeContent{
  width: 100%;
  height: calc(100% - 50px);

}
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--modal-background); /* Black w/ opacity */
}


/* Modal Content */
.modalContent {
    position: relative;
    display: flex;
  z-index: 69;
  background-color: var(--violet-100);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--violet-400);
  border-radius: 20px;
 height: 300px;
}
.modalUsernameContainer{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.modalAvatarContainer{
    display: flex;
    align-items: center;
 width:50%;
    height: 100%;

}
.usernameInput{
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    margin-bottom: 10px;
    margin-top: 10px;
}
.modalAvatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--violet-300);
   display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modalAvatar:hover{
    background: var(--violet-200);
}
.modalCloseButtonContainer{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    position: absolute;

}
.modalCloseButton{
background: none;
border: none;
cursor: pointer;
}
/* Ipad */
@media screen and (min-width: 764px) {

  
}

/*Ipad vertical - small laptop */
@media screen and (min-width: 1024px) {
 

  .content{
    width: 100%;
  }
  .joke{
    width: 70%;
  }
  .textarea{
    height:150px
  }
  .list{
  display: block;
  }
  .modalContent{
    width: 30%;
  }

  
 
}

/* Laptop - PC */ 
@media screen and (min-width:1280px){

}